###############################################
# v9.5.0 no need to replace zappi serial number zappi_XXXXXXXX anymore
# V5.0 Refactor
###############################################
zappi_renamed_entities_templates:
  template:
    ######################################################
    # Zappi base entity (auto-discover serial)
    ######################################################
    - sensor:
        - name: "Zappi Base Entity"
          unique_id: zappi_base_entity
          state: >
            {% set matches =
              states
              | selectattr('entity_id', 'match', '^sensor\.myenergi_zappi_.*_status$')
              | map(attribute='entity_id')
              | list
            %}
            {% if matches | length > 0 %}
              {{ matches[0].replace('sensor.', '').replace('_status', '') }}
            {% else %}
              unknown
            {% endif %}
    ######################################################
    # Zappi plug status avoiding unknown when cloud response is not available
    ######################################################
    - trigger:
        - trigger: event
          event_type: state_changed
      sensor:
        - name: Zappi Plug Status
          unique_id: zappi_plug_status
          state: >
            {% set base = states('sensor.zappi_base_entity') %}
            {% set eid = 'sensor.' ~ base ~ '_plug_status' %}

            {% if trigger.event.data.entity_id == eid
              and trigger.event.data.new_state is not none
              and trigger.event.data.new_state.state not in ['unknown', 'unavailable'] %}
              {{ trigger.event.data.new_state.state }}
            {% else %}
              {{ states('sensor.zappi_plug_status') }}
            {% endif %}
          icon: mdi:ev-plug-type2
          attributes:
            changes: >
              {% set base = states('sensor.zappi_base_entity') %}
              {% set eid = 'sensor.' ~ base ~ '_plug_status' %}

              {% if trigger.event.data.entity_id == eid
                and trigger.event.data.new_state is not none
                and trigger.event.data.new_state.state not in ['unknown', 'unavailable'] %}
                {% set current = this.attributes.get('changes', {}) %}
                {% set new =
                  { eid:
                    {
                      'datetime': trigger.event.data.new_state.last_changed.isoformat(),
                      'from': trigger.event.data.old_state.state if trigger.event.data.old_state else none,
                      'to': trigger.event.data.new_state.state
                    }
                  }
                %}
                {{ dict(current, **new) }}
              {% else %}
                {{ this.attributes.get('changes', {}) }}
              {% endif %}


    ######################################################
    # Zappi status avoiding unknown when cloud response is not available
    ######################################################
    - trigger:
        - platform: event
          event_type: state_changed
      condition:
        - condition: template
          value_template: >
            {% set base = states('sensor.zappi_base_entity') %}
            {{
              base not in ['unknown','unavailable','']
              and trigger.event.data.entity_id == 'sensor.' ~ base ~ '_status'
              and trigger.event.data.new_state is not none
              and trigger.event.data.new_state.state not in ['unknown','unavailable']
            }}
      sensor:
        - name: Zappi Status
          unique_id: zappi_status
          state: >
            {% set base = states('sensor.zappi_base_entity') %}
            {{ states('sensor.' ~ base ~ '_status') }}
          icon: mdi:ev-station
          attributes:
            changes: >
              {% set current = this.attributes.get('changes', {}) %}
              {% set new =
                { trigger.event.data.entity_id:
                  {
                    'datetime': trigger.event.data.new_state.last_changed.isoformat(),
                    'from': trigger.event.data.old_state.state if trigger.event.data.old_state else none,
                    'to': trigger.event.data.new_state.state
                  }
                }
              %}
              {{ dict(current, **new) }}


    ######################################################
    # for when zappi cloud sensor dips out
    ######################################################
    - sensor:
        - name: Zappi Power CT Internal Load
          unique_id: zappi_power_ct_internal_load
          state: >
            {% set base = states('sensor.zappi_base_entity') %}
            {% set master = 'sensor.' ~ base ~ '_power_ct_internal_load' %}
            {% if states(master) in ['unknown', 'unavailable','none'] %}
              {{ states('sensor.zappi_power_ct_internal_load') }}
            {% else %}
              {{ states(master) }}
            {% endif %}
          unit_of_measurement: "W"
          state_class: measurement
          device_class: "power"

    ######################################################
    # for when zappi cloud sensor dips out
    ######################################################
    - sensor:
        - name: Zappi Power CT Grid Load
          unique_id: zappi_power_ct_grid_load
          state: >
            {% set base = states('sensor.zappi_base_entity') %}
            {% set master = 'sensor.' ~ base ~ '_grid_ct2' %}
            {% if states(master) in ['unknown', 'unavailable','none'] %}
              {{ states('sensor.zappi_power_ct_internal_load') }}
            {% else %}
              {{ states(master) }}
            {% endif %}
          unit_of_measurement: "W"
          state_class: measurement
          device_class: "power"

    ######################################################
    # for when zappi cloud sensor dips out
    ######################################################
    - sensor:
        - name: Zappi Charge Added Session
          unique_id: zappi_charge_added_session
          state: >
            {% set base = states('sensor.zappi_base_entity') %}
            {% set master = 'sensor.' ~ base ~ '_charge_added_session' %}
            {% if states(master) in ['unknown', 'unavailable','none'] %}
              {{ states('sensor.zappi_charge_added_session') }}
            {% else %}
              {{ states(master) }}
            {% endif %}
          unit_of_measurement: "kWh"
          state_class: total
          device_class: "energy"

    ######################################################
    # normalised to remove account number in automations
    ######################################################
    - select:
        - name: Zappi Charge Mode
          unique_id: zappi_charge_mode
          icon: mdi:ev-station
          state: >
            {% set base = states('sensor.zappi_base_entity') %}
            {{ states('select.' ~ base ~ '_charge_mode') }}
          options: >
            {% set base = states('sensor.zappi_base_entity') %}
            {{ state_attr('select.' ~ base ~ '_charge_mode', 'options') }}
          select_option:
            - service: select.select_option
              target:
                entity_id: >
                  {% set base = states('sensor.zappi_base_entity') %}
                  {{ 'select.' ~ base ~ '_charge_mode' }}
              data:
                option: "{{ option }}"

    ######################################################
    # normalised to remove account number in automations
    ######################################################
    - number:
        - name: "Zappi Minimum Green Level"
          unique_id: zappi_minimum_green_level
          state: >
            {% set base = states('sensor.zappi_base_entity') %}
            {{ states('number.' ~ base ~ '_minimum_green_level') | float }}
          icon: mdi:leaf
          min: 0
          max: 100
          step: 1
          set_value:
            - service: number.set_value
              target:
                entity_id: >
                  {% set base = states('sensor.zappi_base_entity') %}
                  {{ 'number.' ~ base ~ '_minimum_green_level' }}
              data:
                value: "{{ value }}"

    - sensor:
        - name: "Zappi Charge Mode"
          unique_id: zappi_charge_mode
          state: "{{ states('select.zappi_charge_mode') }}"
          icon: mdi:ev-station
