###############################################
# v9.5.0 no need to replace zappi serial number zappi_XXXXXXXX anymore
# V5.0 Refactor
###############################################
zappi_renamed_entities_templates:
  template:

    ######################################################
    # Zappi plug status avoiding unknown when cloud response is not available
    ######################################################
    - trigger:
        - trigger: state
          entity_id: >
            {% set base = states('sensor.zappi_base_entity') %}
            {{ 'sensor.' ~ base ~ '_plug_status' }}
          not_to:
            - unavailable
            - unknown
      sensor:
        - name: Zappi Plug Status
          unique_id: zappi_plug_status
          state: >
            {% set base = states('sensor.zappi_base_entity') %}
            {{ states('sensor.' ~ base ~ '_plug_status') }}
          icon: mdi:ev-plug-type2
          attributes:
            changes: >
              {% set current = this.attributes.get('changes', {}) %}
              {% set new =
                { trigger.entity_id:
                  {
                    'datetime': trigger.to_state.last_changed.isoformat(),
                    'from': trigger.from_state.state,
                    'to': trigger.to_state.state
                  }
                }
              %}
              {{ dict(current, **new) }}

    ######################################################
    # Zappi status avoiding unknown when cloud response is not available
    ######################################################
    - trigger:
        - trigger: state
          entity_id: >
            {% set base = states('sensor.zappi_base_entity') %}
            {{ 'sensor.' ~ base ~ '_status' }}
          not_to:
            - unavailable
            - unknown
      sensor:
        - name: Zappi Status
          unique_id: zappi_status
          state: >
            {% set base = states('sensor.zappi_base_entity') %}
            {{ states('sensor.' ~ base ~ '_status') }}
          icon: mdi:ev-station
          attributes:
            changes: >
              {% set current = this.attributes.get('changes', {}) %}
              {% set new =
                { trigger.entity_id:
                  {
                    'datetime': trigger.to_state.last_changed.isoformat(),
                    'from': trigger.from_state.state,
                    'to': trigger.to_state.state
                  }
                }
              %}
              {{ dict(current, **new) }}

    ######################################################
    # for when zappi cloud sensor dips out
    ######################################################
    - sensor:
        - name: Zappi Power CT Internal Load
          unique_id: zappi_power_ct_internal_load
          state: >
            {% set base = states('sensor.zappi_base_entity') %}
            {% set master = 'sensor.' ~ base ~ '_power_ct_internal_load' %}
            {% if states(master) in ['unknown', 'unavailable','none'] %}
              {{ states('sensor.zappi_power_ct_internal_load') }}
            {% else %}
              {{ states(master) }}
            {% endif %}
          unit_of_measurement: "W"
          state_class: measurement
          device_class: "power"

    ######################################################
    # for when zappi cloud sensor dips out
    ######################################################
    - sensor:
        - name: Zappi Power CT Grid Load
          unique_id: zappi_power_ct_grid_load
          state: >
            {% set base = states('sensor.zappi_base_entity') %}
            {% set master = 'sensor.' ~ base ~ '_grid_ct2' %}
            {% if states(master) in ['unknown', 'unavailable','none'] %}
              {{ states('sensor.zappi_power_ct_internal_load') }}
            {% else %}
              {{ states(master) }}
            {% endif %}
          unit_of_measurement: "W"
          state_class: measurement
          device_class: "power"

    ######################################################
    # for when zappi cloud sensor dips out
    ######################################################
    - sensor:
        - name: Zappi Charge Added Session
          unique_id: zappi_charge_added_session
          state: >
            {% set base = states('sensor.zappi_base_entity') %}
            {% set master = 'sensor.' ~ base ~ '_charge_added_session' %}
            {% if states(master) in ['unknown', 'unavailable','none'] %}
              {{ states('sensor.zappi_charge_added_session') }}
            {% else %}
              {{ states(master) }}
            {% endif %}
          unit_of_measurement: "kWh"
          state_class: total
          device_class: "energy"

    ######################################################
    # normalised to remove account number in automations
    ######################################################
    - select:
        - name: Zappi Charge Mode
          unique_id: zappi_charge_mode
          icon: mdi:ev-station
          state: >
            {% set base = states('sensor.zappi_base_entity') %}
            {{ states('select.' ~ base ~ '_charge_mode') }}
          options: >
            {% set base = states('sensor.zappi_base_entity') %}
            {{ state_attr('select.' ~ base ~ '_charge_mode', 'options') }}
          select_option:
            - service: select.select_option
              target:
                entity_id: >
                  {% set base = states('sensor.zappi_base_entity') %}
                  {{ 'select.' ~ base ~ '_charge_mode' }}
              data:
                option: "{{ option }}"

    ######################################################
    # normalised to remove account number in automations
    ######################################################
    - number:
        - name: "Zappi Minimum Green Level"
          unique_id: zappi_minimum_green_level
          state: >
            {% set base = states('sensor.zappi_base_entity') %}
            {{ states('number.' ~ base ~ '_minimum_green_level') | float }}
          icon: mdi:leaf
          min: 0
          max: 100
          step: 1
          set_value:
            - service: number.set_value
              target:
                entity_id: >
                  {% set base = states('sensor.zappi_base_entity') %}
                  {{ 'number.' ~ base ~ '_minimum_green_level' }}
              data:
                value: "{{ value }}"

    - sensor:
        - name: "Zappi Charge Mode"
          unique_id: zappi_charge_mode
          state: "{{ states('select.zappi_charge_mode') }}"
          icon: mdi:ev-station
