###############################################
# v9.5.0 Auto detect entity names so you don't have to replace them when new ones are 
#        created (make sure you delete the old ones)
# v9.4.0 More hardening
# v9.3.0 Hardening to reduce the amount of unnecessary triggering of the house keeping automation 
#.       when the octopus api stops responding. Also trying to maintain the remaining disptch helper from changing
#.       in an active charging session. (it should only change when there is a genuine new charge target)
# V6.0.0 Refactor for Octopus Energy V17+
###############################################
octopus_renamed_entities_templates:
  template:
    ######################################################
    # Octopus appi base id (you need to delete old entities in the event you re add)
    ######################################################
    - sensor:
        - name: "Octopus Intelligent Base Entity"
          unique_id: octopus_intelligent_base_entity
          state: >
            {% set matches =
              states
              | selectattr('entity_id', 'match', '^select\.octopus_energy_.*_intelligent_target_time$')
              | map(attribute='entity_id')
              | list
            %}
            {% if matches | length > 0 %}
              {{ matches[0].split('_intelligent_target_time')[0].replace('select.', '') }}
            {% else %}
              unknown
            {% endif %}

    ######################################################
    # import MPAN
    ######################################################
    - sensor:
        - name: "Octopus Electricity MPAN Base"
          unique_id: octopus_electricity_mpan_base
          state: >
            {% set matches =
              states
              | selectattr('entity_id', 'match', '^binary_sensor\.octopus_energy_electricity_.*_off_peak$')
              | rejectattr('entity_id', 'search', '_export_')
              | map(attribute='entity_id')
              | list
            %}
            {% if matches | length > 0 %}
              {{ matches[0].replace('binary_sensor.', '').replace('_off_peak', '') }}
            {% else %}
              unknown
            {% endif %}

    ######################################################
    # Octopus target time normalised to remove account number in automations
    ######################################################
    - select:
        - name: "Octopus Intelligent Target Time"
          unique_id: octopus_intelligent_target_time
          icon: mdi:battery-clock
          state: >
            {% set base = states('sensor.octopus_intelligent_base_entity') %}
            {{ states('select.' ~ base ~ '_intelligent_target_time') }}
          options: >
            {% set base = states('sensor.octopus_intelligent_base_entity') %}
            {{ state_attr('select.' ~ base ~ '_intelligent_target_time', 'options') }}
          select_option:
            - service: select.select_option
              target:
                entity_id: >
                  {% set base = states('sensor.octopus_intelligent_base_entity') %}
                  {{ 'select.' ~ base ~ '_intelligent_target_time' }}
              data:
                option: "{{ option }}"

    ######################################################
    # Octopus charge target normalised to remove account number in automations
    ######################################################
    - number:
        - name: "Octopus Intelligent Charge Target"
          unique_id: octopus_intelligent_charge_target
          state: >
            {% set base = states('sensor.octopus_intelligent_base_entity') %}
            {% set s = states('number.' ~ base ~ '_intelligent_charge_target') %}
            {% if s not in ['unknown', 'unavailable', '', none] %}
              {{ s | float }}
            {% else %}
              {{ states('number.octopus_intelligent_charge_target') | float(0) }}
            {% endif %}
          icon: mdi:battery-charging
          min: 10
          max: 100
          step: 1
          set_value:
            - service: number.set_value
              target:
                entity_id: >
                  {% set base = states('sensor.octopus_intelligent_base_entity') %}
                  {{ 'number.' ~ base ~ '_intelligent_charge_target' }}
              data:
                value: "{{ value }}"

    ######################################################
    # Octopus intelligent smart charge switch normalised to remove account number in automations
    ######################################################
    - switch:
        - name: "Octopus Intelligent Smart Charge"
          unique_id: octopus_intelligent_smart_charge
          icon: mdi:ev-station
          state: >
            {% set base = states('sensor.octopus_intelligent_base_entity') %}
            {% set s = states('switch.' ~ base ~ '_intelligent_smart_charge') %}
            {% if s in ['unknown', 'unavailable'] %}
              {{ states('switch.octopus_intelligent_smart_charge') }}
            {% else %}
              {{ s == 'on' }}
            {% endif %}
          turn_on:
            - service: switch.turn_on
              target:
                entity_id: >
                  {% set base = states('sensor.octopus_intelligent_base_entity') %}
                  {{ 'switch.' ~ base ~ '_intelligent_smart_charge' }}
          turn_off:
            - service: switch.turn_off
              target:
                entity_id: >
                  {% set base = states('sensor.octopus_intelligent_base_entity') %}
                  {{ 'switch.' ~ base ~ '_intelligent_smart_charge' }}

    ######################################################
    # Octopus Dispatch avoiding unknown when cloud response is not available
    # Also automations don't need customising
    ######################################################
    - binary_sensor:
        - name: Octopus Energy Electricity Off Peak
          unique_id: octopus_energy_electricity_off_peak
          state: >
            {% set mpan = states('sensor.octopus_electricity_mpan_base') %}
            {% set master = 'binary_sensor.' ~ mpan ~ '_off_peak' %}
            {% set s = states(master) %}
            {% if s in ['unavailable', 'unknown'] %}
              {{ states('binary_sensor.octopus_energy_electricity_off_peak') }}
            {% else %}
              {{ s }}
            {% endif %}

    ######################################################
    # Octopus Intelligent Dispatching avoiding unknown when cloud response is not available
    ######################################################
    - binary_sensor:
        - name: Octopus Intelligent Dispatching
          unique_id: octopus_intelligent_dispatching
          state: >
            {% set base = states('sensor.octopus_intelligent_base_entity') %}
            {% set master = 'binary_sensor.' ~ base ~ '_intelligent_dispatching' %}
            {% set s = states(master) %}
            {% if s in ['unavailable', 'unknown'] %}
              off
            {% else %}
              {{ s }}
            {% endif %}
          icon: mdi:power-plug-battery
          attributes:
            planned_dispatches: >
              {% set base = states('sensor.octopus_intelligent_base_entity') %}
              {% set master = 'binary_sensor.' ~ base ~ '_intelligent_dispatching' %}
              {% set raw = state_attr(master, 'planned_dispatches') %}
              {% set ns = namespace(out=[]) %}
              {% if raw is none %}
                {{ state_attr('binary_sensor.octopus_intelligent_dispatching', 'planned_dispatches') }}
              {% else %}
                {% for item in raw %}
                  {% set start = item.start if item.start is string else (item.start.isoformat() if item.start is not none else none) %}
                  {% set end   = item.end   if item.end   is string else (item.end.isoformat()   if item.end   is not none else none) %}
                  {% set new = dict(item) | combine({'start': start, 'end': end}) %}
                  {% set ns.out = ns.out + [new] %}
                {% endfor %}
                {{ ns.out }}
              {% endif %}

            completed_dispatches: >
              {% set base = states('sensor.octopus_intelligent_base_entity') %}
              {% set master = 'binary_sensor.' ~ base ~ '_intelligent_dispatching' %}
              {% set raw = state_attr(master, 'completed_dispatches') %}
              {% set ns = namespace(out=[]) %}
              {% if raw is none %}
                {{ state_attr('binary_sensor.octopus_intelligent_dispatching', 'completed_dispatches') }}
              {% else %}
                {% for item in raw %}
                  {% set start = item.start if item.start is string else (item.start.isoformat() if item.start is not none else none) %}
                  {% set end   = item.end   if item.end   is string else (item.end.isoformat()   if item.end   is not none else none) %}
                  {% set new = dict(item) | combine({'start': start, 'end': end}) %}
                  {% set ns.out = ns.out + [new] %}
                {% endfor %}
                {{ ns.out }}
              {% endif %}

            started_dispatches: >
              {% set base = states('sensor.octopus_intelligent_base_entity') %}
              {% set master = 'binary_sensor.' ~ base ~ '_intelligent_dispatching' %}
              {% set raw = state_attr(master, 'started_dispatches') %}
              {% set ns = namespace(out=[]) %}
              {% if raw is none %}
                {{ state_attr('binary_sensor.octopus_intelligent_dispatching', 'started_dispatches') }}
              {% else %}
                {% for item in raw %}
                  {% set start = item.start if item.start is string else (item.start.isoformat() if item.start is not none else none) %}
                  {% set end   = item.end   if item.end   is string else (item.end.isoformat()   if item.end   is not none else none) %}
                  {% set new = dict(item) | combine({'start': start, 'end': end}) %}
                  {% set ns.out = ns.out + [new] %}
                {% endfor %}
                {{ ns.out }}
              {% endif %}

            provider: >
              {% set base = states('sensor.octopus_intelligent_base_entity') %}
              {{ state_attr('binary_sensor.' ~ base ~ '_intelligent_dispatching', 'provider') }}

            vehicle_battery_size_in_kwh: >
              {% set base = states('sensor.octopus_intelligent_base_entity') %}
              {{ state_attr('binary_sensor.' ~ base ~ '_intelligent_dispatching', 'vehicle_battery_size_in_kwh') }}

            charge_point_power_in_kw: >
              {% set base = states('sensor.octopus_intelligent_base_entity') %}
              {{ state_attr('binary_sensor.' ~ base ~ '_intelligent_dispatching', 'charge_point_power_in_kw') }}

            current_start: >
              {% set base = states('sensor.octopus_intelligent_base_entity') %}
              {{ state_attr('binary_sensor.' ~ base ~ '_intelligent_dispatching', 'current_start') }}

            current_end: >
              {% set base = states('sensor.octopus_intelligent_base_entity') %}
              {{ state_attr('binary_sensor.' ~ base ~ '_intelligent_dispatching', 'current_end') }}

            next_start: >
              {% set base = states('sensor.octopus_intelligent_base_entity') %}
              {{ state_attr('binary_sensor.' ~ base ~ '_intelligent_dispatching', 'next_start') }}

            next_end: >
              {% set base = states('sensor.octopus_intelligent_base_entity') %}
              {{ state_attr('binary_sensor.' ~ base ~ '_intelligent_dispatching', 'next_end') }}

    ####################################################
    # Octopus deprecated time.Intelligent Target Time
    #####################################################
    - sensor:
        - name: Octopus Intelligent Target Time
          unique_id: octopus_intelligent_target_time
          device_class: "timestamp"
          state: >
            {% set time_str = states('select.octopus_intelligent_target_time') %}
            {% set valid_time = time_str if time_str not in ['', 'unknown', 'None', none] and ':' in time_str else '05:30' %}
            {% set t = today_at(valid_time) | as_datetime | as_local %}
            {% if now() | as_timestamp > t | as_timestamp + 180 %}
              {{ (t | as_timestamp + 86400) | as_datetime | as_local }}
            {% else %}
              {{ t | as_local }}
            {% endif %}
          availability: >
            {{ is_state('binary_sensor.octopus_api_healthy', 'on') }}

    - binary_sensor:
        - name: "Octopus Smart Charge"
          unique_id: octopus_smart_charge
          state: "{{ is_state('switch.octopus_intelligent_smart_charge', 'on') }}"
          device_class: power
          icon: mdi:ev-station

    - binary_sensor:
        - name: Octopus API Healthy
          unique_id: octopus_api_healthy
          icon: mdi:cloud-check
          state: >
            {{
              states('binary_sensor.octopus_intelligent_dispatching') not in ['unknown','unavailable']
              and states('switch.octopus_intelligent_smart_charge') not in ['unknown','unavailable']
              and states('number.octopus_intelligent_charge_target') not in ['unknown','unavailable']
            }}