octopus_dispatches_time_charging_template:
  template:
    - trigger:
        - platform: time_pattern
          minutes: "/1"
      sensor:
        - name: Zappi Charging State Numeric
          unique_id: zappi_charging_state_numeric
          state: >
            {{ 1 if states('sensor.zappi_plug_status') == 'Charging' else 0 }}
          state_class: measurement

    - trigger:
        - platform: state
          entity_id: sensor.charging_time_24hr_allowance

      sensor:
        - name: "Time Allowance Remaining"
          unique_id: octopus_intelligent_time_allowance_remaining
          unit_of_measurement: "h"
          state_class: measurement
          state: >
            {% set new = trigger.to_state.state %}
            {% set start_hours = 6 %}

            {# If new value is bad (unknown/unavailable/non-numeric), keep previous value #}
            {% if not is_number(new) %}
              {{ this.state }}
            {% else %}
              {% set remaining = start_hours - new|float %}
              {{ remaining | round(3) }}
            {% endif %}


    - trigger:
        - platform: state
          entity_id: sensor.charging_24hr_allowance
        - platform: state
          entity_id: input_number.limit_ev_kwh_charge_target

      sensor:
        - name: "kWh Remaining Allowance"
          unique_id: octopus_intelligent_remaining_today
          unit_of_measurement: "kWh"
          device_class: energy
          state_class: total
          state: >
            {% set daily_limit = states('input_number.limit_ev_kwh_charge_target')|float(0) %}
            {% set used = trigger.to_state.state %}

            {% if trigger.entity_id == 'sensor.charging_24hr_allowance' %}
              {% set used = trigger.to_state.state %}
            {% else %}
              {% set used = states('sensor.charging_24hr_allowance') %}
            {% endif %}

            {# If used is not numeric, keep current value #}
            {% if not is_number(used) %}
              {{ this.state }}
            {% else %}
              {{ [daily_limit - used|float, 0] | max }}
            {% endif %}
